<div class="home__container">
  <app-card
    gameCover="https://m.media-amazon.com/images/I/614pMWZuYRL._AC_UF1000,1000_QL80_.jpg"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 129,99"
  ></app-card>
  <app-card
    gameCover="https://http2.mlstatic.com/D_NQ_NP_933904-MLU77377667275_072024-O.webp"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 269,99"
  ></app-card>
  <app-card
    gameCover="https://sm.ign.com/t/ign_es/gallery/a/assassins-/assassins-creed-valhalla-box-art-logos_ukn7.1200.jpg"
    gameLabel="EXCLUSIVE"
    gameType="DIGITAL | PS3 PS4 PS5"
    gamePrice="R$ 369,99"
  ></app-card>
</div>
